<div class="company-landing">
  <img src="<%= @company.image %>"><br>
  <p><%=@company.name%></p>
</div>

<div class="row">
  <% if @company.company_accounts.any? %>
  <p><span class="accounts_no" <%= @company.company_accounts.count %></span>
  currently registered users.</p>
<h1>
  <%= @company.name %>
</h1>

<ul>
  <% @company.company_accounts.each() do |company_account| %>
  <li>
    <h2><%= @company_account.name%></h2>
    <h2><%= @company_account.account_no %></h2>
    <h2><%= @company_account.balance %></h2>
  </li>
  <%end%>
</ul>
<%else%>
<h1>No users registered to
  <%= @company.name%>
  yet.</h1>
<%end%>
</div>
