<div class="company-landing center">
  <img class="company_img" src="<%= @company.image %>"><br>
  <h5 class="comp-name"><%=@company.name.capitalize%></h5>
</div>
<% if !@company.image %>
<div class="red">
  <div class="center nav-wrapper">
    <a href="/company/profile" class="white-text">Please Click Here To Complete Registration</a>
  </div>
</div><% end %>
<div class="container accounts">
  <button id="show_company_accounts" class="btn blue" name="button">Add User</button>
  <form class="company_accounts" action="/company_accounts" method="post">
    <input class="form-control" type="hidden" name="company_id" value="<%= @company.id %>">
    <div class="input-field">
      <input class="validate" type="number" name="user_national_id">
      <label for="user_national_id">User national ID:</label>
    </div>
    <div class="input-field">
      <input class="validate" type="text" name="user_reg_name">
      <label for="user_reg_name">User registration name:</label>
    </div>
    <div class="input-field">
      <input class="validate" type="number" name="account_no">
      <label for="account_no">Account number:</label>
    </div>
    <div class="input-field">
      <input class="validate" type="number" name="balance">
      <label for="balance">Balance:</label>
    </div>
    <div class="input-field">
      <input class="datepicker" type="text" name="due_date">
      <label for="due_date">Due Date:</label>
    </div>
    <button class="btn blue" type="submit" name="button">Save</button>
  </form>

  <% if @company.company_accounts.any? %>
  <p>
    <span class="accounts_no"><%= @company.company_accounts.count %></span>
    currently registered users.</p>
  <ul class="center collection with-header">
    <li class="collection-header">
      <%= @company.name.capitalize %>
      clients
    </li>
  </ul>

  <ul class="center collection with-header">
    <% @company.company_accounts.each() do |company_account| %>
    <li class="collection-item">
      <div class="">
        Name:<span class="account_name"><%= company_account.user_reg_name%></span>
        &nbsp; &nbsp; &nbsp; Account No:<span class="account_number"><%= company_account.account_no %></span>
        <% if company_account.balance> 0 %>
        &nbsp; &nbsp; &nbsp; Account Balance:<span class="account_number"><%= company_account.balance %></span>
          <% else %>
          &nbsp; &nbsp; &nbsp; Account Balance:<span class="balance"><%= company_account.balance %></span>
        <% end %>
        &nbsp; &nbsp; &nbsp;
        <a href="/company_accounts/<%= company_account.id()%>/edit">
          <button class="btn blue">Update Details</button>
        </a>
      </div>
    </li>
    <%end%>
  </ul>
  <%else%>
  <div class="collection with-header">
    <div class="collection-header center">
      <h4>No users registered to <%= @company.name%> yet.</h4>
    </div>
  </div>
  <%end%>
</div>
